.listings {
  width: 80%;
  margin: auto;
  position: relative;
  top: 120px;
}

.listings_table {
  margin: auto;
  width: 100%;
  overflow-x: auto;
  color: black;
  background-color: #fff;
  border-spacing: 0px;
}

.listings_table th {
  position: sticky;
  top: 220px;
  background-color: #fff;
}

.listings_table tr:nth-child(even) {
  background-color: #177fff;
  color: #fff;
}
